<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='dao.mapper.AlbumMapper'>
	<select id='getAlbumesBuscados' resultType="pojo.Album">
		SELECT * FROM album
		where
		nombre like concat(#{nombre},'%')
	</select>

	<select id='getAlbumes'>
		SELECT * FROM album
	</select>

	<select id="getAlbum" resultType="pojo.Album">
		Select * from album where id =
		#{id}
	</select>

	<select id="getAlbumesArtista" resultType="pojo.Album">
		select album.nombre as
		nombre, anyo, artista.nombre
		as artista, album.foto as foto from
		artista, album where #{id} =
		album.idArtista group by album.nombre
	</select>

	<insert id='insertAlbum' parameterType='pojo.Album'
		useGeneratedKeys='true' keyProperty='id'>
		INSERT INTO
		album(nombre,anyo,idArtista,foto)
		values(#{nombre},#{anyo},#{artista},#{foto})
	</insert>

	<update id='updateAlbum' parameterType='Album'>
		UPDATE album
		SET
		nombre =
		#{nombre},
		anyo = #{anyo},
		foto = #{foto}
		WHERE id
		= #{id}
	</update>

	<delete id='deleteAlbum' parameterType='Album'>
		DELETE FROM album WHERE
		id = #{id}
	</delete>

</mapper>