<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='dao.mapper.ListaReproduccionMapper'>
	<select id='getListasR'>
		SELECT * FROM listaReproduccion
	</select>

	<insert id='insertListaR' parameterType='ListaReproduccion'
		useGeneratedKeys='true' keyProperty='id'>
		INSERT INTO listaReproduccion(nombre,idUsuario,idCancion) values('#{nombre}',#{idUsuario},#{idCancion})
	</insert>

	<update id='updateListaR' parameterType='ListaReproduccion'>
		UPDATE listaReproduccion
		SET
		nombre = #{nombre},
		idUsuario = #{idUsuario},
		idCancion = #{idCancion}
		WHERE idUsuario = #{idUsuario}
	</update>

	<delete id='deleteGenero' parameterType='Genero'>
		DELETE FROM listaReproduccion WHERE idUsuario = #{idUsuario} and nombre = #{nombre}
	</delete>
</mapper>