@charset "UTF-8";

html {
	background-color: gray;
}

body {
	background-color: gray;
}

#akua {
	color: white;
	text-align: center;
	font-size: 90px;
	font-family: 'Dancing Script', cursive;
	background: -webkit-linear-gradient(#03D2F9, #E3E3E3, #03D2F9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 27px;
}

.trackinfo p {
	display: inline-block;
	padding-left: 52px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover, a:visited:hover {
	color: #03D2F9;
	text-decoration: underline;
}

paginaArtista p:hover, paginaArtista p:visited:hover {
	color: #03D2F9;
	text-decoration: underline;
}

a:active {
	color: white;
}

a:visited {
	color: white;
}

#divLogo {
	width: 100%;
	height: 175px;
	background-color: #181818;
	top: 0;
	left: 0;
	position: absolute;
	margin-bottom: 160px;
	position: absolute;
}

#divLogo img {
	z-index: 2;
}

#buscar {
	margin-top: 200px;
	text-align: center;
}

#generos {
	text-align: center;
}

#artistas {
	text-align: center;
}

#generos h2 {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 30px;
	margin-top:50px;
	margin-bottom: 40px;
}

.allGeneros {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #181818;
	padding: 40px;
	border-radius: 300px;
	background-color: #181818;
}

#artistas h2 {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 30px;
}

#buscar h3 {
	font-family: 'Hind Madurai', sans-serif;
}

h3 {
	text-align: center;
}

#formLogin {
	margin-top: 300px;
	text-align: center;
}

#formLogin p {
	font-size: 35px;
	margin-top: 25px;
}

#formLogin input[type='email'], #formLogin input[type='password'] {
	width: 600px;
	border-radius: 100px;
	text-align: center;
	height: 30px;
}

#formLogin input[type='submit'] {
	height: 35px;
	width: 60px;
	border-radius: 25px;
}

#formGenero {
	margin-top: 300px;
	text-align: center;
}

#formGenero p {
	font-size: 35px;
	margin-top: 25px;
}

#formGenero input[type="text"] {
	width: 600px;
	border-radius: 100px;
	text-align: center;
	height: 30px;
}

#formGenero input[type="submit"] {
	height: 35px;
	width: 150px;
	border-radius: 25px;
}

#formRegistrar {
	margin-top: 150px;
	text-align: center;
}

#formRegistrar p {
	font-size: 35px;
	margin-top: 25px;
}

#formRegistrar input[type="file"] {
	margin-left: 760px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	text-align: center;
	width: 500px;
}

thead {
	text-align: center;
}

#artistasAlbum {
	text-align: center;
}

#lRepro {
	position: absolute;
	width: 175px;
	top: 0;
	left: 0;
	height: ;
	background: #181818;
	z-index: 1;
	height: 100%
}

#lRepro h2 {
	background: #181818;
	color: white;
	 
}

#lRepro p {
	margin-left: 25px;
}

#formRegistrar a {
	font-size: 35px;
	margin-top: 25px;
}

#formRegistrar input[type='text'], input[type='email'], #formRegistrar input[type='password'],
	#formRegistrar input[type='number'] {
	width: 600px;
	border-radius: 100px;
	text-align: center;
	height: 30px;
}

#formRegistrar input[type='submit'] {
	height: 35px;
	width: 100px;
	border-radius: 25px;
}

#formAlbum input[type='text'], #formAlbum input[type='number'], ¡ {
	width: 600px;
	border-radius: 100px;
	text-align: center;
	height: 50px;
}

#formAlbum input[type='file'] {
	margin-left: 760px;
}

#formAlbum {
	margin-top: 200px;
	text-align: center;
}

#formAlbum p {
	font-size: 35px;
	margin-top: 25px;
}

#formAlbum input[type='submit'] {
	text-align: center;
	height: 50px;
	width: 120px;
	border-radius: 25px;
	height: 50px;
}

#formCancion {
	margin-top: 200px;
	text-align: center;
}

#formCancion p {
	font-size: 35px;
	margin-top: 25px;
}

#formCancion input[type='file'] {
	margin-left: 760px;
}

#formCancion input[type='text'], #formCancion input[type='number'] {
	width: 600px;
	border-radius: 100px;
	text-align: center;
	height: 50px;
}

#formCancion select {
	width: 300px;
	border-radius: 100px;
	text-align: center;
	height: 50px;
	font-size: 30px;
}

#formCancion input[type='submit'] {
	text-align: center;
	height: 50px;
	width: 120px;
	border-radius: 25px;
	height: 30px;
}

#formArtista {
	margin-top: 200px;
	text-align: center;
}

#formArtista p {
	font-size: 35px;
	margin-top: 25px;
}

#formArtista input[type='file'] {
	margin-left: 760px;
}

#formArtista input[type='text'] {
	width: 600px;
	border-radius: 100px;
	text-align: center;
	height: 50px;
}

#formArtista input[type='submit'] {
	text-align: center;
	height: 50px;
	width: 120px;
	border-radius: 25px;
	height: 50px;
}

#buscar input {
	width: 500px;
	text-align: center;
	border-radius: 100px;
	height: 25px;
}

#Logo {
	width: 160px;
	height: 160px;
	top: 7px;
	left: 20px;
	position: absolute;
}

#cajaUsuario {
	position: absolute;
	top: 20px;
	right: 25px;
	text-align: center;
}

#cajaUsuario p {
	color: white;
}

#inicio {
	position: absolute;
	top: 125px;
	right: 50px;
}

#fotoUser {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 100px;
}

#controles {
	display: inline-block;
	background-color: black;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 20;
	height: 110px;
}

.trackinfo {
	width: 400px;
	left: 70px;
	bottom: 45px;
	position: absolute;
}

#h2Intro {
	margin-top: 200px;
	background-color: gray;
	margin-bottom: 0;
	text-align: center;
	font-size: 50px;
}

#h2Error {
	margin-top: 350px;
	background-color: gray;
	margin-bottom: 0;
	text-align: center;
	font-size: 50px;
}

#enlaceError {
	text-align: center;
}

#cancionesRecom {
	background-color: gray;
	margin-top: 25px;
}



#divrecomArtistas {
	text-align: center;
}

#albumRecom {
	text-align: left;
	margin-left: 20%;
}

#artistaRecom {
	text-align: left;
	margin-left: 20%;
}

.dropdown {
	position: absolute;
	right: 30px;
}

#cancionesRecom p, .dropdown {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	color
}

#prev img, #play img, #next img, #stop img, #random img, #repeat img {
	width: 25px;
	height: 25px;
	border: none;
}

#botones {
	text-align: center;
	margin: 0 auto;
	border-radius: 50px;
	margin-bottom: 15px;
	margin-top: 20px;
}

#botones button {
	border-radius: 50px;
	text-align: center;
	width: 45px;
	height: 45px;
	margin-left: 20px;
	margin-right: 20px;
}

#sliders {
	-webkit-appearance: none;
	display: grid;
	grid-template-columns: repeat(1fr, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 10px;
	grid-template-areas: "c c a a a a b b";
	align-items: center;
}

#resultBus {
	margin-top: 200px;
}

.resultArt {
	display: inline-block;
	margin-right: 85px;
	text-align: center;
	background-color: gray;
}

.resultArt p{
	font-size: 20px;
	margin-bottom: 70px;
}

.resultAlbum {
	display: inline-block;
	margin-right: 85px;
	text-align: center;
	background-color: gray;
}

.fotoAlbum {
	margin-top: 30px;
	width: 100px;
	border-radius: 100px;
	height: 100px;
	display: inline-block;
	background-color: gray;
}

.fotoArtista {
	margin-top: 30px;
	width: 120px;
	border-radius: 100px;
	height: 120px;
	display: inline-block;
	background-color: gray;
}

#durCancion {
	width: 1400px;
	height: 5px;
	grid-area: a;
	background: white;
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
	border-radius: 10px;
	cursor: pointer;
	grid-area: a;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #00ffff;
	cursor: pointer;
}

.currentTime {
	position: absolute;
	left: 33px;
	color: white;
	font-size: 20px;
}

.durationTime {
	position: absolute;
	right: 350px;
	color: white;
	font-size: 20px;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	grid-area: a;
	height: 25px;
	border-radius: 50%;
	background: #00ffff;
	cursor: pointer;
}

#fotoVolumen {
	position: absolute;
	bottom: 50px;
	width: 50px;
	height: 50px;
	right: 30px;
	z-index: 100;
}

input[type=range]:hover {
	opacity: 1;
}

#volumen {
	width: 150px;
	height: 5px;
	grid-area: b;
	background: #d3d3d3;
	outline: none;
	border-radius: 10px;
	opacity: 0.7;
	transition: opacity .2s;
	outline: none;
}

#volumen:hover {
	opacity: 1;
}

#titulo, #artista {
	color: white;
}

footer {
	position: fixed;
	bottom: 0px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	left: 0;
	color: white;
	background-color: black;
	width: 100%;
	height: 50px;
}