@charset "UTF-8";

#controles {
	display: inline-block;
	text-align: center;
	background-color: black;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#prev img, #play img, #next img, #stop img, #random img {
	width: 25px;
	height: 25px;
	border: none;
}

#botones {
	text-align: center;
	margin: 0 auto;
	border-radius: 50px;
}

#botones button {
	border-radius: 50px;
	text-align: center;
}

#sliders {
	-webkit-appearance: none;
	display: grid;
	grid-template-columns: repeat(1fr, 1fr);
	grid-gap: 10px;
	grid-auto-rows: 10px;
	grid-template-areas: "c a a a a a b b";
	align-items: center;
}

#durCancion {
	width: 1400px;
	height: 5px;
	grid-area: a;
	background: white;
	outline: none;
	opacity: 0.7;
	transition: opacity .2s;
	border-radius: 10px;
	cursor: pointer;
	grid-area: a;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #00ffff;
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	grid-area: a;
	height: 25px;
	border-radius: 50%;
	background: #00ffff;
	cursor: pointer;
}

input[type=range]:hover {
	opacity: 1;
}

#volumen {
	width: 150px;
	height: 5px;
	grid-area: b;
	background: #d3d3d3;
	outline: none;
	border-radius: 10px;
	opacity: 0.7;
	transition: opacity .2s;
}

#volumen:hover {
	opacity: 1;
}

#titulo, #artista {
	color: white;
}